@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: Roboto, ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --color-background: oklch(0.0837 0.0118 255.89); /* dark blue-black */
  --color-card: oklch(0.419 0.0899 257.24); /* lighter dark blue for card */
  --color-primary: oklch(0.5852 0.1153 249.12); /* blue for action */
  --color-secondary: oklch(0.8829 0.0606 247.01); /* teal for secondary action */
  --color-text: oklch(0.95 0 0); /* main text off white */
  --color-muted: oklch(0.8553 0.0611 247.04); /* gray for secondary text */
  --color-success: oklch(0.8675 0.0677 211.4); /* light green */
  --color-error: oklch(0.8212 0.0769 285.41); /* purple for errors and sign out */
  --color-warning: oklch(0.8476 0.0829 311.63); /* pink for warnings and loading */
  --color-title-accent: oklch(0.9474 0.0586 202.8); /* bright light blue */
}
